<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <div [ngStyle]="{textAlign:'center'}">

    <img src="assets/about.jpg" [ngStyle]="{height: '200px'}" />

    <ion-text color="primary">
        <h1>Tentang Voting Sistem</h1>

    </ion-text>
    <ion-text>
    Vote Sistem ini ditujukan untuk pemilihan Voting Mobil terbaik selama periode 2023 dan akan di tujukan untuk 2024

    </ion-text>








</div>

</ion-content>
