<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Menu Utama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu Utama</ion-title>
    </ion-toolbar>
  </ion-header>

  <div className="ion-text-center">
    <img src="assets/vote.png" [ngStyle]="{height: '200px',width: '100%'}" />

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card routerDirection='forward' [routerLink]="['/voting']" [ngStyle]="{borderRadius: '40px 0 40px 0',background: 'cyan',textAlign: 'center'}">
            <ion-card-header>
              <ion-card-title>Voting</ion-card-title>
              <ion-card-subtitle>
                <ion-icon
                [ngStyle]="{ fontSize: '40px' }"
                  name="mic"
                />
              </ion-card-subtitle>

            </ion-card-header>

            <!-- <ion-card-content>Card Content</ion-card-content> -->
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card routerDirection='forward' [routerLink]="['/profil']" [ngStyle]="{borderRadius: '40px 0 40px 0',background: 'lightgreen',textAlign: 'center'}">
            <ion-card-header>
              <ion-card-title>Profil</ion-card-title>
              <ion-card-subtitle>
                <ion-icon
                [ngStyle]="{ fontSize: '40px' }"
                  name="person-circle"
                />
              </ion-card-subtitle>
            </ion-card-header>

            <!-- <ion-card-content>Card Content</ion-card-content> -->
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card color="warning" routerDirection='forward' [routerLink]="['/about']" [ngStyle]="{borderRadius: '40px 0 40px 0',background: 'orange',textAlign: 'center'}">
            <ion-card-header>
              <ion-card-title>About</ion-card-title>
              <ion-card-subtitle>
                <ion-icon
                [ngStyle]="{ fontSize: '40px' }"
                  name="business"
                />
              </ion-card-subtitle>
            </ion-card-header>

            <!-- <ion-card-content>Card Content</ion-card-content> -->
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [ngStyle]="{borderRadius: '40px 0 40px 0',background: 'lightgrey',textAlign: 'center'}">
            <ion-card-header id='present-alert'>
              <ion-card-title>Logout</ion-card-title>
              <ion-card-subtitle>
                <ion-icon
                [ngStyle]="{ fontSize: '40px' }"
                  name="log-out"
                />
              </ion-card-subtitle>
            </ion-card-header>

            <!-- <ion-card-content>Card Content</ion-card-content> -->
          </ion-card>
          <ion-alert
            trigger="present-alert"
            header="Logout ?"
            subHeader=""
            message="Yakin ingin Logout ?"
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
